@charset "UTF-8";

/* General styles */
body {
	background-color: #fdf6e3;
	/* Fondo beige claro */
	font-family: 'Georgia', serif;
	color: #5d4037;
	/* Marrón suave */
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 20px;
	/* Espacio debajo de la barra */
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 60vh;
	/* Altura del contenido principal */
	margin-top: 10px;
	/* Ajuste para evitar la superposición con la barra */
}

/* Card styles */
.card {
	background-color: #d7ccc8;
	/* Fondo marrón claro */
	border: none;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	transform: translateY(20px);
	transition: transform 0.3s ease-in-out;
}

.card-body {
	text-align: center;
	padding: 20px 30px;
}

h4.text-brown {
	color: #3e2723;
	/* Marrón oscuro */
	font-size: 1.8rem;
	margin-bottom: 20px;
}

/* Form input styles */
.form-control {
	border: 1px solid #6d4c41;
	/* Marrón medio */
	border-radius: 8px;
	padding: 12px;
	margin-bottom: 15px;
	font-size: 1rem;
	background-color: #fff4e1;
	color: #5d4037;
	transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
	border-color: #3e2723;
	box-shadow: 0 0 8px rgba(109, 76, 65, 0.5);
	outline: none;
}

/* Button styles */
.btn-brown {
	background: linear-gradient(to bottom, #6d4c41, #5d4037);
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	padding: 12px 20px;
	font-size: 1rem;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.btn-brown:hover {
	background: linear-gradient(to bottom, #5d4037, #3e2723);
	transform: translateY(-3px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive styles */
@media (max-width: 768px) {
	.card {
		width: 90%;
	}

	.btn-brown {
		width: 100%;
	}
}