@charset "UTF-8";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}

header,
main {
	margin: 0;
	padding: 0;
}

.hero-section {
	background: url("/images/fondo.png") no-repeat center center fixed;
	background-size: cover;
	min-height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-section h1 {
	color: #3e2723;
	font-size: 4rem;
	font-family: 'Georgia', serif;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	border-radius: 10px;
}