<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book Management</title>
	<link rel="stylesheet" th:href="@{/css/reservationLoanAdmin.css}" />
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<div class="table-container">
		<h1>Reservations from users</h1>

		<!-- Formulario estilizado -->
		<div class="filter-container">
			<form method="get" action="/reservation/adminReservations" style="display: flex; gap: 15px;">
				<div>
					<label for="fromDate">From:</label>
					<input type="date" id="fromDate" name="fromDate">
				</div>
				<div>
					<label for="toDate">To:</label>
					<input type="date" id="toDate" name="toDate">
				</div>
				<div>
					<button type="submit" class="btn">Filter</button>
				</div>
			</form>
		</div>

		<!-- Tabla de reservas -->
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Book</th>
					<th>Reservation date</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation : ${reservations}">
					<td th:text="${reservation.userEmail}"></td>
					<td th:text="${reservation.bookTitle}"></td>
					<td th:text="${reservation.reservationDate}"></td>
					<td th:text="${reservation.status}"></td>
					<td>
						<form th:action="@{/reservation/delete/{id}(id=${reservation.id})}" method="post"
							style="display: inline;">
							<button type="submit" class="btn btn-danger"
								onclick="return confirm('Are you sure you want to delete this reservation?');">Delete</button>
						</form>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>