<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book form</title>
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<main>
		<div class="d-flex justify-content-center align-items-center mt-5">
			<div class="card" style="width: 50em;">
				<div class="card-body">
					<h4 class="card-title"
						th:text="${id == null ? 'Add Book' : 'Edit Book'}"></h4>
					<form th:action="@{/books/addBook}" th:object="${books}" method="post">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}"> <input type="hidden" name="id"
							th:field="*{id}">
						<div class="mb-3">
							<label class="form-label" for="title">Title</label> <input
								class="form-control" type="text" id="title" name="title"
								th:field="*{title}" placeholder="Type title..." required>
							<div class="text-danger" th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}"></div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="author">Author</label> <input
								class="form-control" type="text" id="author" name="author"
								th:field="*{author}" placeholder="Type author..." required>
							<div class="text-danger" th:if="${#fields.hasErrors('author')}"
								th:errors="*{author}"></div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="genre">Genre</label> <input
								class="form-control" type="text" id="genre" name="genre"
								th:field="*{genre}" placeholder="Type genre..." required>
							<div class="text-danger" th:if="${#fields.hasErrors('genre')}"
								th:errors="*{genre}"></div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="yearPublished">Year
								Published</label> <input class="form-control" type="date"
								id="yearPublished" name="yearPublished"
								th:field="*{yearPublished}" required>
							<div class="text-danger"
								th:if="${#fields.hasErrors('yearPublished')}"
								th:errors="*{yearPublished}"></div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="image">Image</label> <input
								class="form-control" type="text" id="image" name="image"
								th:field="*{image}" placeholder="Type image..." required>
							<div class="text-danger" th:if="${#fields.hasErrors('image')}"
								th:errors="*{image}"></div>
						</div>

						<div class="mb-3">
							<button class="btn btn-primary d-inline" type="submit">Save</button>
							<a class="btn btn-warning" th:href="@{/books/listBooks}">Return</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>

</html>