<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Books</title>
	<link rel="stylesheet" th:href="@{/css/bookUSER.css}" />
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<main>
		<div class="container mt-4">
			<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

			<div class="row row-cols-1 row-cols-md-3 g-4">
				<tbody th:each="book : ${books}">
					<div class="col">
						<div class="card text-bg-light">
							<img th:src="@{'/photos/' + ${book.image}}" alt="">

							<div class="card-body">
								<h5 class="card-title text-center" th:text="${book.title}">Book Title</h5>
								<ul class="list-unstyled">
									<li><strong>Author:</strong> <span th:text="${book.author}">Book Author</span></li>
									<li><strong>Genre:</strong> <span th:text="${book.genre}">Book Genre</span></li>
									<li><strong>Year Published:</strong> <span th:text="${book.yearPublished}">Year
											Published</span></li>
								</ul>
								<div sec:authorize="hasRole('ROLE_USER')">
									<a class="btn btn-warning btn-sm">Loan</a>
									<a class="btn btn-danger btn-sm">Reservation</a>
								</div>
							</div>
						</div>

					</div>
			</div>
			</tbody>
		</div>
		</div>
	</main>
</body>

</html>