<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Change Password</title>
	<div th:insert="~{fragments :: head}"></div>
	<link rel="stylesheet" th:href="@{/css/changePassword.css}" />
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div> <!-- Barra de navegación -->
	</header>

	<main>
		<div class="card">
			<div class="card-body">
				<h4 class="text-brown">Change Password</h4>
				<form th:action="@{/changePassword}" method="post">
					<!-- Current Password -->
					<input type="password" class="form-control" name="currentPassword" placeholder="Current Password"
						required />

					<!-- New Password -->
					<input type="password" class="form-control" name="newPassword" placeholder="New Password"
						required />

					<!-- Confirm Password -->
					<input type="password" class="form-control" name="confirmPassword"
						placeholder="Confirm New Password" required />

					<!-- Submit Button -->
					<button type="submit" class="btn-brown">Change Password</button>
				</form>
				<div class="alert alert-danger" th:if="${param.error}">
					<p th:text="${error}"></p>
				</div>
			</div>
		</div>

		<div th:if="${error}" class="alert alert-danger" role="alert">
			<p th:text="${error}"></p>
		</div>

	</main>
</body>

</html>