<!DOCTYPE html>
<html lang="en">

<head>
	<title>My account</title>
	<link rel="stylesheet" th:href="@{/css/myaccount.css}" />
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>

	<main class="account-page">
		<div class="account-container">
			<h1 class="account-title" th:text="${user.name + ' ' + user.lastname}"></h1>
			<p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
		</div>

		<div class="account-actions">
			<a class="btn-update-pass" th:href="@{/updateUser}">Edit name</a>
			<a class="btn-update-pass" th:href="@{/changePassword}">Change password</a>
		</div>
		<div class="alert alert-info" th:if="${param.success}">
			Password updated successfully.
		</div>
	</main>
</body>

</html>