<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Graphics</title>
<link rel="stylesheet" th:href="@{/css/graphics.css}" />
<div th:insert="~{fragments :: head}"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<h1>Loans Per User</h1>

	<div class="chart-container">
		<canvas id="loansPerUserChart"></canvas>
	</div>


	<script th:inline="javascript">
    var loansPerUser = /*[[${loansPerUser}]]*/ [];

    console.log(loansPerUser); 

    var formattedData = loansPerUser.map(function(item) {
        return {
            label: item[0].name || item[0] || "Unknown",
            value: item[1] || 0
        };
    });

    var ctx2 = document.getElementById('loansPerUserChart').getContext('2d');
    var loansPerUserChart = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: formattedData.map(item => item.label),
            datasets: [{
                label: 'Loans per User',
                data: formattedData.map(item => item.value),
                backgroundColor: ['#FF5733', '#33FF57', '#3357FF']
            }]
        }
    });
</script>


</body>

</html>
