<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin reports</title>
	<link rel="stylesheet" th:href="@{/css/reports.css}" />
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<div class="reports-container">
		<!-- Número total de usuarios registrados -->
		<p>Total Users: <span th:text="${totalUserCount-1}"></span></p>

		<!-- Historial de préstamos de un usuario -->
		<h2>User Loan History</h2>
		<form method="get" action="/report/loanHistory">
			<label for="userId">Select User:</label>
			<select id="userId" name="userId" onchange="this.form.submit()">
				<option value="" disabled th:if="${userId == null}" selected>Select a user</option>
				<!-- Combobox lleno dinámicamente -->
				<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"
					th:selected="${user.id == userId}"></option>
			</select>
		</form>

		<table border="1" th:if="${userLoanHistory != null}">
			<thead>
				<tr>
					<th>Book Title</th>
					<th>Initial date</th>
					<th>Due date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="loan : ${userLoanHistory}">
					<td th:text="${loan.book.title}"></td>
					<td th:text="${#dates.format(loan.initial_date, 'yyyy-MM-dd')}"></td>
					<td th:text="${#dates.format(loan.due_date, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>