<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Users</title>
<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>
	<main>
		<div class="container mt-4">
			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}"
				th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>

			<h3>User List</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Lastname</th>
						<th>Email</th>
						<th>Activated</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody th:each="user : ${users}">
					<tr>
						<td th:text="${user.name}">Name</td>
						<td th:text="${user.lastname}">Lastname</td>
						<td th:text="${user.email}">Email</td>
						<td><a th:href="@{/admin/toggleActivation(id=${user.id})}"
							th:classappend="${user.activated} ? 'btn-success' : 'btn-danger'"
							th:text="${user.activated} ? 'Deactivate' : 'Activate'"
							class="btn btn-sm"></a></td>
						<td><a th:href="@{/admin/deleteUsers(id=${user.id})}"
							class="btn btn-danger btn-sm">Delete</a></td>

					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>
