<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Reservations</title>
	<link rel="stylesheet" th:href="@{/css/reservationLoanUser.css}" />
	<div th:insert="~{fragments :: head}"></div>
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>

	<main class="container mt-4">

		<h3> My reservations </h3>
		<br>

		<div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Book Title</th>
						<th>Author</th>
						<th>Genre</th>
						<th>Reservation Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reservation : ${reservations}">
						<td th:text="${reservation.getId_Book().title}">Book Title</td>
						<td th:text="${reservation.getId_Book().author}">Author</td>
						<td th:text="${reservation.getId_Book().genre}">Genre</td>
						<td th:text="${#dates.format(reservation.reservation, 'yyyy-MM-dd')}">Reservation Date</td>
						<td>
							<form th:action="@{/reservation/cancel/{id}(id=${reservation.id})}" method="post">
								<button type="submit" class="btn btn-danger btn-sm">Cancel</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>