<!DOCTYPE html>
<html lang="en">

<head>
	<title>Edit account</title>
	<div th:insert="~{fragments :: head}"></div>
	<link rel="stylesheet" href="css/editUser.css">
</head>

<body>
	<header>
		<div th:replace="~{fragments :: navbar}"></div>
	</header>



	<main <h1>Edit your account</h1>

		<form th:action="@{/updateUser}" method="post" th:object="${users}" S>
			<div style="margin-bottom:20px;">
				<label for="email">Email:</label>
				<input type="text" id="email" th:field="*{email}" class="form-control" required>
			</div>
			<div style="margin-bottom:20px;">
				<label for="name">Name:</label>
				<input type="text" id="name" th:field="*{name}" class="form-control" required>
			</div>

			<div style="margin-bottom:20px;">
				<label for="lastname">Last Name:</label>
				<input type="text" id="lastname" th:field="*{lastname}" class="form-control" required>
			</div>

			<div>
				<button type="submit">Save changes</button>
			</div>
		</form>

	</main>

</body>

</html>